body,html {
	background-color: skyblue;
}

#wrapper {
	margin: 50px auto;
	text-align: justify;
	width: 1000px;
}

.intro {
	column-count: 3;
}

button {
	cursor: pointer;
	font-weight: bolder;
	padding: 10px 20px;
}
